.about {
  height: 90vh;
  padding-top: 10rem;
  margin: 1rem 0;
  .container {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    margin: auto;
    .skills {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .skill {
        display: flex;
        justify-content: space-between;
        background: #2d2d31;
        padding: 2.5rem 4rem;
        border-radius: 8px;
        box-shadow: -5px 10px 5px 5px rgba($color: #18181b, $alpha: 0.2);
        .content {
          .mainSkill {
            color: #dda883;
          }
          h1 {
            font-size: 1.7rem;
            font-weight: 500;
            margin: 0;
          }
          p {
            font-weight: 100;
            font-size: 0.9rem;
            margin: 10px 0 30px 0;
          }
          .stack {
            display: flex;
            align-items: center;
            gap: 1rem;
            .html {
              display: flex;
              align-items: center;
              font-size: 1.4rem;
              color: #dd4b25;
            }
            .css {
              display: flex;
              align-items: center;
              font-size: 1.4rem;
              color: #254bdd;
            }
            .js {
              display: flex;
              align-items: center;
              font-size: 1.5rem;
              color: #efd81d;
            }
            .ts {
              display: flex;
              align-items: center;
              font-size: 1.1rem;
              color: #2f74c0;
            }
            .react {
              display: flex;
              align-items: center;
              font-size: 1.2rem;
              color: #5ed3f3;
            }
            .next {
              display: flex;
              align-items: center;
              font-size: 1.2rem;
              color: #fff;
            }
            .sass {
              display: flex;
              align-items: center;
              font-size: 1.1rem;
              color: #c76395;
            }
            .tailwind {
              display: flex;
              align-items: center;
              font-size: 1.1rem;
              color: #36b7f0;
            }
            .node {
              display: flex;
              align-items: center;
              font-size: 1.3rem;
              color: #4a9242;
            }
            .express {
              display: flex;
              align-items: center;
              font-size: 1.3rem;
              color: #fff;
            }
            .postgre {
              display: flex;
              align-items: center;
              font-size: 1.2rem;
              color: #31648c;
            }
            .mysql {
              display: flex;
              align-items: center;
              font-size: 1.7rem;
              color: #df852d;
            }
            .mongo {
              display: flex;
              align-items: center;
              font-size: 1.2rem;
              color: #69a746;
            }
            .figma {
              display: flex;
              align-items: center;
              font-size: 1.2rem;
              color: #fff;
            }
            .ad {
              display: flex;
              align-items: center;
              font-size: 1.2rem;
              color: #58cef6;
            }
            .af {
              display: flex;
              align-items: center;
              font-size: 1.2rem;
              color: #e989f7;
            }
            .ai {
              display: flex;
              align-items: center;
              font-size: 1.2rem;
              color: #f77b17;
            }
            .psd {
              display: flex;
              align-items: center;
              font-size: 1.2rem;
              color: #2fa3f7;
            }
          }
        }
        .logo {
          color: #dda883;
          font-size: 1.5rem;
        }
      }
    }
    .profile {
      display: flex;
      flex-direction: column;
      width: 90%;
      padding-right: 3rem;
      p {
        font-weight: 200;
      }
      h1 {
        font-size: 3rem;
        font-weight: 500;
        margin: 2rem 0;
        span {
          color: #dda883;
        }
      }
      // h2 {
      //   margin-top: 7rem;
      //   font-size: 1.1rem;
      //   font-weight: 100;
      //   font-style: italic;
      //   color: #dda883;
      // }
    }
  }
}
