@import "breakpoints";

.footer {
  display: flex;
  justify-content: center;
  .container {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 15%;
    padding-bottom: 5rem;
    border-top: 1px solid #38393d;
    .left {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 1.2rem;
        font-weight: 200;
        margin-top: 2rem;
      }
      .copyright {
        display: flex;
        align-items: center;
        gap: 3rem;
        h4 {
          font-size: 1rem;
          font-weight: 100;
        }
        small {
          font-weight: 100;
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      margin-top: 3rem;
      h3 {
        font-size: 1rem;
        font-weight: 100;
        margin: 0;
      }
      h2 {
        font-size: 1rem;
        font-weight: 300;
        // margin: 0;
      }
      .links {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        p {
          margin: 0;
          font-weight: 100;
          font-size: 0.9rem;
        }
      }
    }
  }
}
//_ breakpoints
@include xl {
  .container {
    width: 100%;
    .left {
      margin-left: 0;
    }
    .right {
      margin-right: 0;
    }
  }
}

@include md {
  .footer {
    .container {
      flex-direction: column;
      padding-right: 5rem;
    }
  }
}
