@import "mixin";
@import "breakpoints";

.works {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  margin: 2rem 0;
  .container {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 15%;
    .stack {
      display: flex;
      align-items: center;
      gap: 1rem;
      .react {
        @include stack(#5ed3f3);
      }
      .sass {
        @include stack(#c76395);
      }
      .redux {
        @include stack(#7749bd);
      }
      .query {
        @include stack(#f73f51);
      }
    }
    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 3rem;
      margin-top: 3rem;
      h2 {
        margin-top: 4rem;
      }
      p {
        font-weight: 200;
        color: #dda883;
      }
      .allProjects {
        h5 {
          font-size: 1.3rem;
          font-weight: 200;
          text-decoration: underline;
        }
        h5:hover {
          font-weight: 300;
        }
      }
      .card1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: rgb(19, 19, 22);
        background: linear-gradient(
          140deg,
          rgb(29, 29, 32) 0%,
          rgb(29, 29, 31) 40%,
          rgb(54, 54, 58) 100%
        );
        box-shadow: -5px 20px 30px 20px rgba($color: #18181b, $alpha: 0.3);
        border-radius: 10px;
        width: 450px;
        height: 600px;
        padding: 3rem 4rem;
        margin: 2rem 0;
        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .carRental {
            display: flex;
            align-items: center;
            gap: 10px;
            h3 {
              font-weight: 400;
              font-size: 1.3rem;
            }
            span {
              color: #dda883;
              font-size: 1.3rem;
            }
          }
          .carRental:hover {
            gap: 13px;
            h3 {
              opacity: 0.6;
            }
            span {
              font-weight: 500;
              font-size: 1.4rem;
            }
          }
        }
        .image {
          display: flex;
          justify-content: center;
          box-shadow: -5px 5px 20px 20px rgba($color: #18181b, $alpha: 0.3);
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 3rem;
      .card2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: rgb(19, 19, 22);
        background: linear-gradient(
          240deg,
          rgb(17, 17, 19) 0%,
          rgb(19, 19, 20) 40%,
          rgb(37, 37, 39) 100%
        );
        box-shadow: -5px 20px 20px 20px rgba($color: #18181b, $alpha: 0.2);
        border-radius: 10px;
        width: 450px;
        height: 550px;
        padding: 3rem 4rem;
        margin: 2rem 0;
        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .dashboard {
            display: flex;
            align-items: center;
            gap: 10px;
            h3 {
              font-weight: 400;
              font-size: 1.3rem;
            }
            span {
              color: #dda883;
              font-size: 1.3rem;
            }
          }
          .dashboard:hover {
            gap: 13px;
            h3 {
              opacity: 0.6;
            }
            span {
              font-weight: 500;
              font-size: 1.4rem;
            }
          }
        }
        .image {
          display: flex;
          justify-content: center;
          box-shadow: -5px 20px 20px 20px rgba($color: #18181b, $alpha: 1);
        }
      }
      .card3 {
        background: rgb(19, 19, 22);
        background: linear-gradient(
          200deg,
          rgb(29, 29, 32) 0%,
          rgb(29, 29, 31) 40%,
          rgb(54, 54, 58) 100%
        );
        box-shadow: -5px 20px 20px 20px rgba($color: #18181b, $alpha: 0.2);
        border-radius: 10px;
        width: 450px;
        height: 550px;
        padding: 3rem 4rem;
        margin: 2rem 0;
        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .blockchain {
            display: flex;
            align-items: center;
            gap: 10px;
            h3 {
              font-weight: 400;
              font-size: 1.3rem;
            }
            span {
              color: #dda883;
              font-size: 1.3rem;
            }
          }
          .blockchain:hover {
            gap: 13px;
            h3 {
              opacity: 0.6;
            }
            span {
              font-weight: 500;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}

//_ breakpoints
@include xl {
  .works {
    .container {
      gap: 5%;
    }
  }
}

@include lg {
  .works {
    .container {
      flex-direction: column;
      .left {
        margin-left: 0;
      }
      .right {
        margin-right: 0;
      }
    }
  }
}

@include md {
  .works {
    margin-top: 15rem;
    .container {
    }
  }
}
