.works {
  //   height: 100vh;
  background-color: #252629;
  padding: 10rem 0;
  margin: 2rem 0;
  .container {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    margin: auto;
    .stack {
      display: flex;
      align-items: center;
      gap: 1rem;
      .react {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: #5ed3f3;
      }
      .sass {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        color: #c76395;
      }
    }
    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        margin-top: 4rem;
      }
      p {
        font-weight: 200;
        margin-bottom: 7rem;
        color: #dda883;
      }
      .card1 {
        background: rgb(19, 19, 22);
        background: linear-gradient(
          140deg,
          rgb(29, 29, 32) 0%,
          rgb(29, 29, 31) 40%,
          rgb(54, 54, 58) 100%
        );
        box-shadow: -5px 20px 30px 20px rgba($color: #18181b, $alpha: 0.3);
        border-radius: 10px;
        width: 80%;
        height: 600px;
        padding: 3rem 5rem;
        margin: 2rem 0;

        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      .projects {
        margin-top: 3rem;
        h5 {
          font-size: 1.5rem;
          font-weight: 400;
          text-decoration: underline;
          color: #dda883;
        }
        h5:hover {
          font-weight: 500;
        }
      }
      small {
        width: 70%;
        font-weight: 100;
      }
    }
    .right {
      .card2 {
        background: rgb(19, 19, 22);
        background: linear-gradient(
          240deg,
          rgb(17, 17, 19) 0%,
          rgb(19, 19, 20) 40%,
          rgb(37, 37, 39) 100%
        );
        box-shadow: -5px 20px 20px 20px rgba($color: #18181b, $alpha: 0.2);
        border-radius: 10px;
        width: 80%;
        height: 600px;
        padding: 3rem 5rem;
        margin: 2rem 0;
        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
      .card3 {
        background: rgb(19, 19, 22);
        background: linear-gradient(
          200deg,
          rgb(29, 29, 32) 0%,
          rgb(29, 29, 31) 40%,
          rgb(54, 54, 58) 100%
        );
        box-shadow: -5px 20px 20px 20px rgba($color: #18181b, $alpha: 0.2);
        border-radius: 10px;
        width: 80%;
        height: 600px;
        padding: 3rem 5rem;
        margin: 2rem 0;
        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
